h1 {
    font-size: 2rem;
    font-weight: bold;
    margin: 2rem 0;
}
h2 {
    font-size: 1.5rem;
    font-weight: bold;
}
h3 {
    font-size: 1.25rem;
    font-weight: bold;
    margin: 1rem 0;
}

.delete-icon, .edit-icon {
    float: right;
    padding: 1rem 0.5rem;
}

.delete-icon:hover, .edit-icon:hover {
    font-weight: 600;
}

.Smurf {
    background: rgba(0,0,0,0.1);
    margin: 1rem 0;
    padding: 0.5rem 0.5rem 1rem 1rem;
    width: 20rem;
}

.Smurf > a {
    color: inherit;
    text-decoration: none;
}

.Smurfs {
    padding: 0 4rem 4rem;
    width: 100%;
}

.SmurfForm > form {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.SmurfForm > form > button {
    font-size: 1rem;
    margin: 0.5rem 0;
}

.SmurfForm > form > label {
    margin: 0.5rem 0;
}

.SmurfForm > form > label > input {
    font-size: 1rem;
    margin: 0.25rem 0;
}

strong {
    font-weight: bold;
}